
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}Binary.com Affiliates {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{{page.keywords}}">
	<link rel="icon" href="{{ '/images/binary-icon.png' | prepend: SourceUrl  }}" sizes="57x57"/>
	<link rel="stylesheet" href="https://style.binary.com/binary.css">
	<link rel="stylesheet" href="{{ '/css/grid.css' | prepend: SourceUrl  }}">
	<link rel="stylesheet" href="{{ '/css/style.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap-nav.css' | prepend: SourceUrl  }}">
    {% include geturl.html %}
    {% if siteLang == 'jp' %}<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,800,900&amp;subset=cyrillic,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/jp-style.css' | prepend: SourceUrl  }}">{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,900&amp;subset=cyrillic,vietnamese" rel="stylesheet">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://style.binary.com/binary.js"></script>
    <script src="{{ '/js/jquery.easing.min.js' | prepend: SourceUrl  }}"></script>
    
	<script src="{{ '/js/code.js' | prepend: site.url }}" defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>