<div class="topbar primary-bg-color-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="Top-Bar__contacts font-s">
				{% include navs/contactus.html %}
				</div>
			</div>	
			<div class="col-md-2">
				<div class="languages">
					<ul id="display_language">
						<li class="EN">
							<span class="world world-white"></span>
								<div class="language-wrapper">
									<span class="language">{% if siteLang == 'en' %}English{% elsif siteLang == "id" %}Indonesia{% elsif siteLang == "ru" %}Русский{% elsif siteLang == "fr" %}Français{% elsif siteLang == "es" %}Español{% elsif siteLang == "de" %}Deutsch{% elsif siteLang == "pt" %}Português{% elsif siteLang == "it" %}Italiano{% elsif siteLang == "pl" %}Polski{% elsif siteLang == "th" %}Thai{% elsif siteLang == "vt" %}Tiếng Việt{% elsif siteLang == "zh_cn" %}简体中文{% elsif siteLang == "zh_tw" %}繁體中文{% else %}English{% endif %}</span>
								</div>
							<span class="nav-caret"></span>
						</li>
					</ul>
					<ul id="select_language">
						<li class="EN">
							<span class="world world-black"></span>
								<div class="language-wrapper">
									<span class="language">{% if siteLang == 'en' %}English{% elsif siteLang == "id" %}Indonesia{% elsif siteLang == "ru" %}Русский{% elsif siteLang == "fr" %}Français{% elsif siteLang == "es" %}Español{% elsif siteLang == "de" %}Deutsch{% elsif siteLang == "pt" %}Português{% elsif siteLang == "it" %}Italiano{% elsif siteLang == "pl" %}Polski{% elsif siteLang == "th" %}Thai{% elsif siteLang == "vt" %}Tiếng Việt{% elsif siteLang == "zh_cn" %}简体中文{% elsif siteLang == "zh_tw" %}繁體中文{% else %}English{% endif %}</span>
								</div>
							<span class="nav-caret"></span>
						</li>
						<li class="ID {% if siteLang == 'id' %}invisible{% endif %}"><a href="{{ '/id/' | prepend: site.url }}">Indonesia</a></li>
						<li class="EN {% if siteLang == 'en' %}invisible{% endif %}"><a href="{{ '/' | prepend: site.url }}">English</a></li>
						<li class="RU {% if siteLang == 'ru' %}invisible{% endif %}"><a href="{{ '/ru/' | prepend: site.url }}">Русский</a></li>
						<li class="FR {% if siteLang == 'fr' %}invisible{% endif %}"><a href="{{ '/fr/' | prepend: site.url }}">Français</a></li>
						<li class="ES {% if siteLang == 'es' %}invisible{% endif %}"><a href="{{ '/es/' | prepend: site.url }}">Español</a></li>
						<li class="DE {% if siteLang == 'de' %}invisible{% endif %}"><a href="{{ '/de/' | prepend: site.url }}">Deutsch</a></li>
						<li class="PT {% if siteLang == 'pt' %}invisible{% endif %}"><a href="{{ '/pt/' | prepend: site.url }}">Português</a></li>
						<li class="IT {% if siteLang == 'it' %}invisible{% endif %}"><a href="{{ '/it/' | prepend: site.url }}">Italiano</a></li>
						<li class="PL {% if siteLang == 'pl' %}invisible{% endif %}"><a href="{{ '/pl/' | prepend: site.url }}">Polski</a></li>
						<li class="TH {% if siteLang == 'th' %}invisible{% endif %}"><a href="{{ '/th/' | prepend: site.url }}">Thai</a></li>
						<li class="VT {% if siteLang == 'vt' %}invisible{% endif %}"><a href="{{ '/vt/' | prepend: site.url }}">Tiếng Việt</a></li>
						<li class="zh_cn {% if siteLang == 'zh_cn' %}invisible{% endif %}"><a href="{{ '/zh_cn/' | prepend: site.url }}">简体中文</a></li>
						<li class="zh_tw {% if siteLang == 'zh_tw' %}invisible{% endif %}"><a href="{{ '/zh_tw/' | prepend: site.url }}">繁體中文</a></li>
					</ul>
			    </div>				    		
		    </div>
	    </div>
	</div>	
</div>	
<div class="dark-blue header">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="logo-wrapper">
					<a class="logo-parent" href="/">
						<div class="logo">
							<div></div>
						</div>
						<div class="mobile-hide binary-logo-text">
							<div></div>
						</div>
					</a>
				</div>    
			</div>
			<div class="col-sm-6">
				{% include snippets/title.html %}				
		    </div>
		</div>
	</div>
</div>
	<div class="Subheader">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                   {% include snippets/ico-banner.html %}
				</div>
			</div>
		</div>
	</div>
