<div class="topbar primary-bg-color-dark">
	<div class="container-xl">
		<div class="row">
			<div class="col-md-10">
				<div class="Top-Bar__contacts font-s">
				<p></p>
				</div>
			</div>	
			<div class="col-md-2">
				<div class="languages">
			    </div>				    		
		    </div>
	    </div>
	</div>	
</div>	
<div class="dark-blue header">
	<div class="container-xl">
		<div class="row">
			<div class="col-sm-4">
				<div class="logo-wrapper-jp">
						<div class="logo-jp"></div>
				</div>    
			</div>
			<div class="col-sm-8">
								
		    </div>
		</div>
	</div>
</div>
