<div id="jpModal" class="modal">

  <div class="modal-content">
    <div class="modal-header ">
      <img class="modal-logo" src="{{ '/images/logo-jp-HL.svg' | prepend: SourceUrl  }}" alt="binary.com">
    </div>
    <div class="modal-body">
        <h2>Binary株式会社のウェブサイトへようこそ</h2>
        <p class="">ここからは、Binary株式会社のサイトとなります。直前に閲覧されたページに記載されていた金融商品の情報、又は感想や評価等の内容はサイト所有者が作成したものであり、当社がその内容を保証するものではありません。</p>
      <p><a class="button close" id="confirm"><span>公式サイトへ進む</span></a></p>
        <div class="separator-line-thin-gray-xs"></div>
    </div>
    <div class="modal-footer">
      <p class="">Binary株式会社 (和文名称 バイナリー株式会社)<br>
金融商品取引業者　関東財務局長（金商）第2949号<br>
加入協会:一般社団法人金融先物取引業協会</p>
    </div>
  </div>
</div>