a, a:visited {
    outline: none;
}

/* Align */

.text-right {
    text-align: right;
}

/* Height */
.vh-100 {
    min-height: 100vh;
}

/* Margins */

.top-10 {
    margin-top: 10px;
}

.top-20 {
    margin-top: 20px;
}

.top-50 {
    margin-top: 50px;
}

.top-100 {
    margin-top: 100px;
}
.top-200 {
    margin-top: 200px;
}
.bottom-50 {
    margin-bottom: 50px;
}
.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}
.no-margins {
    margin: 0;
}

.margin-sm {
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-neg-20 {
    margin-top: -20px;
}

.v-margin-sm {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Padding */

.padding-sm {
    padding: 10px;
}

.padding-md {
    padding: 20px;
}

.hr-padding-lg {
    padding: 0 40px;
}

.transparent {
    background: none;
}

/* Separators */

.separator {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
}

.separator-md {
    height: 20px
}

.separator-lg {
    height: 30px
}

.separator-xl {
    height: 50px
}

.separator-xxl {
    height: 100px
}

.separator-line-dark {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 1px;
    background-color: #252f38;
}

.separator-line-lg-dark {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 1px;
    background-color: #252f38;
}

.separator-line-thin-gray-xs {
    height: 1px;
    background-color: #dedede;
    margin: 0;
}

.separator-line-thin-gray {
    height: 1px;
    background-color: #dedede;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator-line-thin-gray-md {
    height: 1px;
    background-color: #dedede;
    margin-top: 40px;
    margin-bottom: 40px;
}

.separator-line-thin-gray-lg {
    height: 1px;
    background-color: #dedede;
    margin-top: 70px;
    margin-bottom: 70px;
}

/* Typography */

.title-xxs {
    font-size: 16px;
}
.title-xs {
    font-size: 18px;
}
.title-sm {
    font-size: 22px;
}
.title-md {
    font-size: 26px;
}

.title-lg {
    font-size: 32px;
}
.title-xl {
    font-size: 36px;
}
.title-xxl {
    font-size: 48px;
}
.title-2xl {
    font-size: 56px;
}
.title-3xl {
    font-size: 72px;
}

@media screen and (max-width: 480px) {
    .title-3xl {
        font-size: 48px;
    }
}
.ft-100 {
    font-weight: 100;
}
.ft-200 {
    font-weight: 200;
}
.ft-300 {
    font-weight: 300;
}
.ft-400 {
    font-weight: 400;
}
.ft-500 {
    font-weight: 500;
}
.ft-700 {
    font-weight: 700;
}
.ft-800 {
    font-weight: 800;
}
.ft-900 {
    font-weight: 900;
}
.ft-444 {
    color: #333;
}

.text-justify {
    text-align: justify;
}
.text-left {
    text-align: left;
}

.break-line {
   display: block;
    word-wrap: break-word;
}

.hidden-col-title {
    display: none;
    float: left;
    text-align: left;
}

@media only screen and (max-width:768px) {
    .break-line {
        display: inline;
        margin-left: 10px;
        word-wrap: break-word;
    }  
    .md-hide {
        display: none;
    }
    .md-show {
        display: inline;
    }
    .hidden-col-title {
        display: inline;
        width: 200px;
    }
    .md-even-col {
        background-color: #f2f2f2 !important;
    }
    .md-child-col {
        background-color: #eaeaea !important;
    }
}
@media only screen and (max-width:768px) {
    .hidden-col-title {
        display: inline;
        width: 200px;
    }
    .md-even-col {
        background-color: #f2f2f2 !important;
    }
    .md-child-col {
        background-color: #eaeaea !important;
    }
}

/* Colors */

.content-color {
    color: #000;
}

.white-bg-color {
    background-color: #FFFFFF;
}

.dark-grey-bg {
    background: #eaeaea;
}

/* Shadows */
.box-shadow {
    box-shadow: 0 3px 28px 0 rgba(0, 0, 0, 0.03), 0 3px 28px 0 rgba(0, 0, 0, 0.3);
}

.box-shadow-d-1 {
    box-shadow: 0 3px 28px 0 rgba(0, 0, 0, 0.01), 0 3px 28px 0 rgba(0, 0, 0, 0.1);
}

.z-1 { 
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); 
}
.z-2 { 
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
}
.z-3 { 
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19); 
}
.z-4  { 
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3), 0 14px 12px 0 rgba(0, 0, 0, 0.17); 
}
.z-5  { 
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15); 
}

/* Borders */
.border {
    border: 1px solid #dedede;
}
.bottom-white-border {
    border-bottom: 1px solid #FFFFFF;
}
.right-white-border {
    border-right: 1px solid #FFFFFF;
}
.mb-bottom-white-border {
        border-bottom: 0px solid #FFFFFF;
    }

/* Elements */
@media only screen and (max-width : 768px) {
    .step {
        margin-bottom: 100px;
    }
    .bottom-white-border {
        border-bottom: 0px solid #FFFFFF;
    }
    .mb-bottom-white-border {
        border-bottom: 1px solid #FFFFFF;
    }
}

.inline-block {
    display: inline-block;
}
.float-left {
    float: left;
}


/* Tests */

.TestBG {
    background: #ccc;
}



.why-number {
    display: inline-block;
}
.why-title {
    display: inline-block;
}
@media only screen and (max-width : 990px) {
    .why-title {
        display: block;
        text-align: center;
    }
    .why-number {
        display: none;
    }
    .break-line {
        display: inline;
        margin-left: 10px;
        word-wrap: break-word;
    }
}






.divTable{
	display: table;
	width: 100%;
    margin: 0px;background-color: #f2f2f2;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
	display: table-cell;
	padding: 15px 10px;
    vertical-align: middle;
    font-size: 16px;
    
}
.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

@media only screen and (max-width : 768px) {
    .rTable {
        width: auto;
        overflow-x: auto !important;
    }
}

.cta-lg {
    font-size: 24px;
    font-weight: 300 !important;
    padding: 15px 30px !important;
}