a, a:visited {
    outline: none;
}

.section-sm {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-md {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-lg {
    padding-top: 100px;
    padding-botom: 100px;
}

.section-title span {
    display: block;
    margin-top: 20px;
}