---
layout: default
language: ja
permalink: /ja/ja-en/
title: JP Landing Preview
excerpt: Join Binary.com's affiliate program now. Start earning commission through the premier platform for binary options trading since 1999 
keywords: binary.com, free affiliate program, binary options trading
---
<div id="page-top"></div>
{% include geturl.html %}
{% include navs/main-nav.html %}
<div class="home--header" id="cpa-program"><div class="texture-overlay-2"></div>
	<div class="container-xl section-lg">
		<div class="row">
			<div class="col home--header-content">
                
                <div class="row align-items-center">
			         <div class="col">
                         <div class="top-200">
                        <h1 class="title-3xl no-margins ft-100 ">Binary.com CPA</h1>
                        <p class="ft-300 title-md no-margins ">The simple way to earn money from your blog or website<p>	
                         <p><a class="button"><span>Start earning</span></a></p>

                          </div>   
                     </div>
                    
		         </div>  
			</div>
		</div>
	</div>
</div>

<div class="primary-bg-color-dark"id="cpa" >
<div class="container-xl section-md" >
    <div class="row">
        <div class="col">
            <div class="center-text">
                 <h2 class="title-3xl ft-100 content-inverse-color section-title">CPA is simple<span class="ft-300 title-xs content-inverse-color">CPA stands for Cost Per Action - it means you earn a reward for each new trader you've sent to us</span></h2>
            </div>
        </div>
    </div>
    <div class="row top-50">
            <div class="col-md-4">
                <div class="icon-md-rounded icon-signup-wh icon-center"></div>
                <p class="center-text ft-300  title-md content-inverse-color">Sign up</p>
                        <p class="center-text ft-300 content-inverse-color">Register for Binary.com CPA and send traffic to our website</p>
            </div>
            <div class="col-md-4">
                    <div class="icon-md-rounded icon-promote icon-center"></div>
                <p class="center-text ft-300  title-md content-inverse-color">Promote</p>
                         <p class="center-text ft-300 content-inverse-color">Users sent through your link signup, deposit funds and trade a specified volume</p>
            </div>
            <div class="col-md-4">
                    <div class="icon-md-rounded icon-earn-wh icon-center"></div>
                <p class="center-text ft-300  title-md content-inverse-color">Earn</p>
                         <p class="center-text ft-300 content-inverse-color">You earn a reward per new trader which we pay each month</p>
             </div>
    </div>

</div>
 </div>   
 
<div class="fill-bg-color" id="why-us">
    <div class="container-xl section-md">
            <div class="row">
                <div class="col center-text">
                        <h2 class="title-3xl ft-100 primary-color section-title">Why us</h2>
                    
                </div>
            </div>
        <div class="row align-items-center">
            <div class="col center-text">	
                <img src="{{ '/assets//images/why/3a.png' | prepend: SourceUrl  }}" alt="binary.com">
            </div>
        </div>
         <div class="separator-md"></div>
        <div class="row">	
		<div class="col-md-3">	
           <p class="ft-900 title-xs"><i class="icon-sm-inline icon-checked"></i>Easy To Trade</p>
            <p class="ft-300">Quick, intuitive trading platform, suited to both beginners and experienced traders.</p>
	    </div>  
        <div class="col-md-3">	
           <p class="ft-900 title-xs"><i class="icon-sm-inline icon-checked"></i>High Performance</p>
            <p class="ft-300">Employing the latest websockets technology with fast execution and a sophisticated charting package.</p>
	    </div>  
	   <div class="col-md-3">	
         <p class="ft-900 title-xs"><i class="icon-sm-inline icon-checked"></i>Trusted Operator</p>
         <p class="ft-300">One of the pioneers of Binary Options  trading, operating worldwide since 1999.</p>
	    </div> 
        <div class="col-md-3">	
           <p class="ft-900 title-xs"><i class="icon-sm-inline icon-checked"></i>Japan Licensed</p>
            <p class="ft-300">Type 1 Financial Instruments Business Licence {#2949}.</p>
        </div>
    </div> 
       
        <div class="separator-line-thin-gray"></div>
        <div class="row">	
            <div class="col center-text">
                  <p class="ft-300 title-md">Award-winning trading excellence</p>
            </div>
        </div>
            <div class="row">	
                <div class="col center-text">
                    <p class="binary-awards center-text"><img class="award" src="{{ '/assets/images/awards/awards-t2w.png' | prepend: SourceUrl  }}" alt="Binary.com Award"> <img class="award" src="{{ '/assets/images/awards/GBAF-award-2012.svg' | prepend: SourceUrl  }}" alt="Binary.com Award"> <img class="" src="{{ '/assets/images/awards/awards-opwa.png' | prepend: SourceUrl  }}">  <img class="award" src="{{ '/assets/images/awards/mena.png' | prepend: SourceUrl  }}" alt="Binary.com Award"> <img class="award" src="{{ '/assets/images/awards/awards-egr.png' | prepend: SourceUrl  }}" alt="Binary.com Award"> </p>
                    <p class="ft-300">Binary.com (formerly BetOnMarkets.com) was founded in 1999 to make binary options — also known as fixed-odds financial trading — easily available to ordinary investors worldwide.</p>
				    <p class="ft-300">We revolutionised the binary options industry by developing the systems, methods, and algorithms that allowed ordinary investors to trade the financial markets.</p>
                </div>
            </div>
    </div>
</div>

<div class="" id="how-it-works">
<div class="container-xl section-md">
	<div class="row">	
		<div class="col center-text">	
			<h2 class="title-3xl ft-100 primary-color">How it works</h2>
	    </div>
	</div>
    <div class="row justify-content-center">	
		<div class="col-md-8 center-text">	
             <div class="video-container">
                <iframe src="https://www.youtube.com/embed/vjBS8-sULqM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
	    </div>
	</div>
    
    <div class="row center-text">	
		<div class="col-md-3">	
            <div class="icon-md-rounded icon-analytics icon-center"></div>
			<p class="ft-300 title-md">Analytics</p>
            <p class="ft-300">Detail stats and tracking of all your referrals through our my-affiliates system.</p>
	    </div>  
        <div class="col-md-3">	
            <div class="icon-md-rounded icon-materials icon-center"></div>
			<p class="ft-300 title-md">Materials</p>
            <p class="ft-300">We provide you with high quality banners, articles, videos and other content for you site.</p>
	    </div>  
	   <div class="col-md-3">	
          <div class="icon-md-rounded icon-support icon-center"></div>
			<p class="ft-300 title-md">Support</p>
            <p class="ft-300">We have a dedicated international support team.</p>
	    </div> 
        <div class="col-md-3">	
            <div class="icon-md-rounded icon-cash icon-center"></div>
			<p class="ft-300 title-md"> Competitive Rewards</p>
            <p class="ft-300">Our rates match or beat other brokers.</p>
        </div>
    </div> 
</div>
 </div>   
	

<div class="container-xl section-md" id="application">
    <div class="row">
        <div class="col center-text">
            <div class="center-text">
            <h2 class="title-3xl ft-100 primary-color">Application process</h2>
            </div>
        </div>
    </div>
    <div class="flex-row row ">
			<div class="col-md-4">
				<div class="card thumbnail fill-bg-color">
                    <div class="icon-md icon-docs-terms icon-center top-50"></div>
					<div class="caption">							
						<p class="center-text ft-300  title-md">Docs</p>
						<p class="flex-text center-text ft-300">Make sure you content meets our <a href="https://japan-docs.binary.com/documents/binary_affiliate_guidelines.pdf">advertising standards</a> and agree to our <a href="https://www.binary.com/ja/terms-and-conditions-jp.html">terms and conditions</a>.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card thumbnail fill-bg-color ">
                    <div class="icon-md icon-signup icon-center top-50"></div>
					<div class="caption">
						<p class="center-text ft-300  title-md">Sign up</p>
						<p class="flex-text center-text ft-300">Start earning right away. It’s absolutely free and easy to start. </p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card thumbnail fill-bg-color">
                    <div class="icon-md icon-review icon-center top-50"></div>
					<div class="caption">
						<p class="center-text ft-300  title-md">Review</p>
						<p class="flex-text center-text ft-300">We will review your website or social media promotional content.</p>
					</div>
				</div>
			</div>
		</div>
    <div class="separator-line-thin-gray"></div>
    <div class="row align-items-center">
        <div class="col-md-9">	
			<p class="ft-300">When approved, we will provide log-in details to our affiliates and provide you with all the materials and guidelines you will need to start earning CPA commissions right away.</p>
	    </div> 
        <div class="col-md-3">	
			<p class="center-text"><a class="button"><span>Start earning</span></a></p>
	    </div>  
    </div>
</div>    


<div class="fill-bg-color" id="payments">
    <div class="container-xl section-md">
        <div class="row">
            <div class="col center-text">
                <h2 class="title-3xl ft-100 primary-color">Rewards & Payments</h2>
            </div>
        </div>
        <div class="row ">
              <div class="col center-text">
                  <p class="ft-300">Rewards are a fixed amount per new client who deposits over an initial minimum amount. They are activated once the new trader passes certain volume targets which are related to the amount of initial deposit. We are restricted by our regulator from displaying the reward structure publicly, so more details will be provided during the application process.</p>
                    <p class="ft-300">A busy affiliate website could be expected to generate rewards up to  ¥200,000 per month or more. There is no maximum payment limit, so you can earn as much as you can generate.</p>
                    <p class="ft-300">Our international affiliate program has been running for over 10 years, and we have paid out more than $5,000,000 in rewards in that time.</p>
                    <p class="ft-300 ">We make payments to you every month, via a number of available payment methods.</p>
            </div>
        </div>
         <div class="separator-xl"></div>
        <div class="row">
            <div class="col center-text footerpayment">
                    <ul class="list-inline ">
                        <li><i class="pw pw-clickandbuy"></i></li>
                        <li><i class="pw pw-westernunion"></i></li>
                        <li><i class="pw pw-braintree"></i></li>
                        <li><i class="pw pw-paysafecard"></i></li>
                        <li><i class="pw pw-ideal"></i></li>
                        <li><i class="pw pw-skrill"></i></li>
                        <li><i class="pw pw-gittip"></i></li>
                        <li><i class="pw pw-flattr"></i></li>
                        <li><i class="pw pw-cb"></i></li>
                        <li><i class="pw pw-bitcoin"></i></li>
                        <li><i class="pw pw-bitcoin-sign"></i></li>
                        <li><i class="pw pw-ripple"></i></li>
                        <li><i class="pw pw-sofort"></i></li>
                        <li><i class="pw pw-diners"></i></li>
                        <li><i class="pw pw-mastercard"></i></li>
                        <li><i class="pw pw-trust-e"></i></li>
                        <li><i class="pw pw-amazon"></i></li>
                        <li><i class="pw pw-jcb"></i></li>
                        <li><i class="pw pw-google-wallet"></i></li>
                        <li><i class="pw pw-stripe"></i></li>
                        <li><i class="pw pw-square"></i></li>
                        <li><i class="pw pw-ogone"></i></li>
                        <li><i class="pw pw-verisign"></i></li>
                        <li><i class="pw pw-discover"></i></li>
                        <li><i class="pw pw-american-express"></i></li>
                        <li><i class="pw pw-paypal--classic"></i></li>
                        <li><i class="pw pw-maestro"></i></li>
                        <li><i class="pw pw-visa"></i></li>
                        <li><i class="pw pw-visa-electron"></i></li>
                        <li><i class="pw pw-postepay"></i></li>
                        <li><i class="pw pw-cartasi"></i></li>
                        <li><i class="pw pw-unionpay"></i></li>
                        <li><i class="pw pw-ec"></i></li>
                    </ul>
               </div>
        </div> 
    </div>
</div>

<div class="primary-bg-color-dark">
	<div class="container-xl section-sm">
		<div class="row center-text">	
			<div class="col-md-6">	
                <a class="content-inverse-color" href="https://japan-docs.binary.com/documents/binary_affiliate_guidelines.pdf"><div class="icon-md-rounded icon-cert icon-center top-50"></div></a>
				<h2 class="title-sm  ft-300 content-inverse-color">Advertising standards</h2>
			</div>
            <div class="col-md-6">	
                <a class="content-inverse-color" href="https://www.binary.com/ja/terms-and-conditions-jp.html"><div class="icon-md-rounded icon-terms icon-center top-50"></div></a>
				<h2 class="title-sm  ft-300 content-inverse-color">Terms & conditions</h2>
			</div>
		</div>
	</div>
    <div class="separator-line-dark"></div>
	<div class="container-xl section-sm">
		<div class="row">
		    <div class="col">
                <p class="ft-300 center-text content-inverse-color font-s">Risk Warning: Binary Options are risky investments and you can lose all of your funds.</p>
				<p class="center-text content-inverse-color font-s">【商号】Binary株式会社　金融商品取引業者　関東財務局長（金商）第2949号【加入協会】一般社団法人金融先物取引業協会 Copyright (c) 2017 Binary K.K. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</div>
