---
layout: default
language: ja
permalink: /ja/v3/
title: JP Landing Preview
excerpt: Join Binary.com's affiliate program now. Start earning commission through the premier platform for binary options trading since 1999 
keywords: binary.com, free affiliate program, binary options trading
---
<div id="page-top"></div>
{% include geturl.html %}
{% include navs/main-nav.html %}
<div class="home--header vh-100" id="cpa-program"><div class="texture-overlay"></div>
	<div class="container-xl section-lg">
		<div class="row">
			<div class="col home--header-content">
                <div class="row align-items-center">
			         <div class="col">
                         <div class="top-200">
                        <h1 class="title-3xl no-margins ft-100 ">Binary.com CPA</h1>
                        <p class="ft-300 title-md no-margins ">ブログやウェブサイトを利用してアフィリエイト活動を始めませんか？<p>	
                         <p><a class="button"><span class="title-md">お申し込みはこちらから</span></a></p>

                          </div>   
                     </div>
                    
		         </div>  
			</div>
		</div>
	</div>
</div>

<div class="primary-bg-color-dark vh-100"id="cpa" >
<div class="container-xl section-md" >
    <div class="row">
        <div class="col">
            <div class="center-text">
                 <h2 class="title-xxl ft-100 secondary-color section-title">CPAとは<span class="ft-300 title-sm content-inverse-color">CPAは、Cost Per Action(成果単価)の略です</span><span class="ft-300 title-sm content-inverse-color">獲得顧客がアフィリエイト会員様のサイトを通じて当社のリアル口座開設後に報酬プランの条件を満たした場合、当社で定められた金額をお支払いいたします</span></h2>
            </div>
        </div>
    </div>
    <div class="row top-50">
            <div class="col-md-4">
                <div class="icon-md-rounded icon-signup-wh icon-center"></div>
                <p class="center-text ft-300  title-md content-inverse-color">お申し込み</p>
                        <p class="center-text ft-300 content-inverse-color">サイト審査後にアフィリエイト活動を開始</p>
            </div>
            <div class="col-md-4">
                    <div class="icon-md-rounded icon-promote icon-center"></div>
                <p class="center-text ft-300  title-md content-inverse-color">アフィリエイト活動</p>
                         <p class="center-text ft-300 content-inverse-color">獲得顧客が 1)アフィリエイトリンクをクリック 2)口座開設 3)当社が定める報酬プランの条件を満たせば、報酬を受け取ります</p>
            </div>
            <div class="col-md-4">
                    <div class="icon-md-rounded icon-earn-wh icon-center"></div>
                <p class="center-text ft-300  title-md content-inverse-color">報酬のお支払い</p>
                         <p class="center-text ft-300 content-inverse-color">成果報酬が発生した場合、前月分のアフィリエイト報酬は翌月15日頃に指定口座に振り込みます</p>
             </div>
    </div>

</div>
 </div>   
 
<div class="fill-bg-color section-md vh-100" id="why-us">
    <div class="container-fluid ">
            <div class="row">
                <div class="col center-text">
                        <h2 class="title-xxl ft-100 primary-color section-title">Binary.comを選ぶ理由</h2>
                </div>
            </div>
        <div class="row align-items-center top-50">
            <div class="col-md-6 center-text">	
                <img src="{{ '/assets//images/why/3b.png' | prepend: SourceUrl  }}" alt="binary.com">
            </div>
        	<div class="col-md-6 border-right">
                <div class="row mb-top-50">
                    <div class="col mb-center">	
                       <p class="ft-700 title-sm secondary-color margin-sm">ユーザーフレンドリーなインターフェイス</p>
                        <p class="ft-100 margin-sm">高速実行、利便性の高いプラットフォームを提供、スマートフォンにも対応</p>
  	                    <div class="separator-lg"></div>
                        <p class="ft-700 title-sm secondary-color margin-sm">高機能</p>
                        <p class="ft-300 margin-sm">Websocketの最新WEBテクノロジーを採用した高速実行と多機能チャートを提供</p>
                        <div class="separator-lg"></div>
                        <p class="ft-700 title-sm secondary-color margin-sm">10年以上の店頭バイナリーオプションを提供</p>
                        <p class="ft-300 margin-sm">1999年に創立以来、世界中の個人投資家に店頭バイナリーオプションを提供</p>
                        <div class="separator-lg"></div>
                        <p class="ft-700 title-sm secondary-color margin-sm">金融商品取引業者</p>
                        <p class="ft-300 margin-sm">第一種金融商品取引業者として登録</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="container-xl">
            <div class="row top-50">	
                <div class="col center-text">
                    <p class="ft-300 title-xxl primary-color">数々の賞を受賞</p>
                    <p class="binary-awards center-text"><img class="award" src="{{ '/assets/images/awards/awards-t2w.png' | prepend: SourceUrl  }}" alt="Binary.com Award"> <img class="award" src="{{ '/assets/images/awards/GBAF-award-2012.svg' | prepend: SourceUrl  }}" alt="Binary.com Award"> <img class="" src="{{ '/assets/images/awards/awards-opwa.png' | prepend: SourceUrl  }}">  <img class="award" src="{{ '/assets/images/awards/mena.png' | prepend: SourceUrl  }}" alt="Binary.com Award"> <img class="award" src="{{ '/assets/images/awards/awards-egr.png' | prepend: SourceUrl  }}" alt="Binary.com Award"> </p>
                    <p class="ft-300">バイナリードットコム （旧サービス名：ベットオンマーケットドットコム）は、1999年に創立しオンラインバイナリーオプション取引の提供をスタート-世界中の個人投資家にサービスを提供</p>
				    <p class="ft-300">当バイナリーグループは、個人投資家に小規模の投資額で固定オッズ形式の取引ができるシステム、メソット及びアルゴリズムを開発するなどオンライバイナリーオプション取引業界のパイオニアです</p>
                </div>
            </div>
    </div>
</div>

<div class="vh-100" id="how-it-works">
<div class="container-xl section-md">
	<div class="row">	
		<div class="col center-text">	
			<h2 class="title-xxl ft-100 primary-color">アフィリエイト活動について</h2>
	    </div>
	</div>
    <div class="row justify-content-center top-50">	
		<div class="col-md-8 center-text">	
             <div class="video-container">
                <iframe src="https://www.youtube.com/embed/vjBS8-sULqM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
	    </div>
	</div>
    
    <div class="row center-text">	
		<div class="col-md-3">	
            <div class="icon-md-rounded-blue icon-analytics icon-center"></div>
			<p class="ft-300 title-md primary-color">分析機能</p>
            <p class="ft-300">管理画面で詳細な統計情報の把握及びトラフィック追跡が可能な機能を提供します</p>
	    </div>  
        <div class="col-md-3">	
            <div class="icon-md-rounded-blue icon-materials icon-center"></div>
			<p class="ft-300 title-md primary-color">広告素材</p>
            <p class="ft-300">トラフィックを増やすために必要なバナー、素材、クリエイティブなコンテツを提供します</p>
	    </div>  
	   <div class="col-md-3">	
          <div class="icon-md-rounded-blue icon-support icon-center"></div>
			<p class="ft-300 title-md primary-color">サポート</p>
            <p class="ft-300">当社のカスタマーサポートチームは複数の言語をサポートしてます</p>
	    </div> 
        <div class="col-md-3">	
            <div class="icon-md-rounded-blue icon-cash icon-center"></div>
			<p class="ft-300 title-md primary-color"> アフィリエイト報酬</p>
            <p class="ft-300">当社の報酬プランに基づいた報酬金額をお支払いいたします</p>
        </div>
    </div> 
</div>
 </div>   
<div class="fill-bg-color vh-100">
<div class="container-xl section-md" id="application">
    <div class="row">
        <div class="col center-text">
            <div class="center-text">
            <h2 class="title-xxl ft-100 primary-color">アフィリエイト会員のお申し込み手順</h2>
            </div>
        </div>
    </div>
    <div class="flex-row row top-50">
			<div class="col-md-4">
				<div class="card thumbnail white-bg-color">
                    <div class="icon-md-rounded-blue icon-docs-terms icon-center top-50"></div>
					<div class="caption">							
						<p class="center-text ft-300 primary-color title-md">事前チェック</p>
						<p class="flex-text center-text ft-300">当社のアフィリエイト広告に関するガイドライン及びアフィリエイトプログラム利用規約をご確認下さい</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card thumbnail white-bg-color ">
                    <div class="icon-md-rounded-blue icon-signup icon-center top-50"></div>
					<div class="caption">
						<p class="center-text ft-300 primary-color title-md">お申し込み</p>
						<p class="flex-text center-text ft-300">登録費はかかりません</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card thumbnail white-bg-color">
                    <div class="icon-md-rounded-blue icon-review icon-center top-50"></div>
					<div class="caption">
						<p class="center-text ft-300 primary-color title-md">サイト審査</p>
						<p class="flex-text center-text ft-300">お申し込み頂いたウェブページ及びソーシャルメディアのコンテンツを審査</p>
					</div>
				</div>
			</div>
		</div>
</div>  
</div>

 <div class="primary-bg-color">
        <div class="container-xl section-md">
            <div class="row center-text">
                <div class="col">
                        <h2 class="title-xxl ft-100">お申し込みはこちらから</h2>
                </div>
            </div>
        <div class="row center-text">
            <div class="col">	
                <p class="ft-300 title-sm content-inverse-color">審査に合格後に、アフィリエイト活動に必要な口座情報、販促材料及びガイドラインを送信いたします</p>
                <p><a class="button-secondary"><span class="title-sm">お申し込みはこちらから</span></a></p>
            </div>  
        </div>
    </div>    
</div> 


<div class="fill-bg-color" id="payments">
    <div class="container-xl section-md">
        <div class="row">
            <div class="col center-text">
                <h2 class="title-xxl ft-100 primary-color">支払い報酬</h2>
            </div>
        </div>
        <div class="row ">
              <div class="col center-text">
                  <p class="ft-300">報酬金額のお支払い条件は、以下のとおりです 1) 獲得会員が初回入金額10,000円以上2)必要取引数量（初回入金金額応じて取引数量が異なります）※詳しくは、アフィリエイトプログラム利用規約の8報酬の支払いにてご確認下さい</p>
                    <p class="ft-300">当グルーブでは、世界中で10年以上にわたりアフィリエイトプログラムを実施しており、1,000,000米ドル以上の合計報酬額の実績があります</p>
                    <p class="ft-300 ">前月のアフィリエイト報酬は翌月15日頃に、当社とアフィリエイト会員様の間で合意されている支払い方法でお支払いします</p>
            </div>
        </div>
         
       
    </div>
</div>

	<div class="container-fluid payment-container">
		<div class="row center-text top-border">	
            <div class="payment-logo-box "><i class="pw pw-visa pw-xl"></i></div>
            <div class="payment-logo-box"><i class="pw pw-visa-electron pw-xl"></i></div>
            <div class="payment-logo-box"><i class="pw pw-mastercard pw-xl"></i></div>
            <div class="payment-logo-box"><i class="pw pw-westernunion pw-xl"></i></div>
            <div class="payment-logo-box"><i class="pw pw-american-express pw-xl"></i></div>
            <div class="payment-logo-box "><i class="pw pw-skrill pw-xl"></i></div>
		</div>
        <div class="row center-text top-border bottom-border">	
            <div class="payment-logo-box "><i class="pw pw-unionpay pw-xl"></i></div>
            <div class="payment-logo-box"><i class="pw pw-jcb pw-xl"></i></div>
            <div class="payment-logo-box"><i class="pw pw-stripe pw-xl"></i></div>
            <div class="payment-logo-box"><i class="pw pw-bitcoin-sign pw-xl"></i></div>
            <div class="payment-logo-box"><i class="pw pw-paysafecard pw-xl"></i></div>
            <div class="payment-logo-box"><i class="pw pw-amazon pw-xl"></i></div>
		</div>
	</div>

<div class="primary-bg-color">
	<div class="container-xl section-sm">
		<div class="row center-text">	
			<div class="col-md-6">	
                <a class="content-inverse-color" href="https://japan-docs.binary.com/documents/binary_affiliate_guidelines.pdf"><div class="icon-md-rounded icon-cert icon-center top-50"></div></a>
				<h2 class="title-sm  ft-300 content-inverse-color">アフィリエイト広告に関するガイドライン</h2>
			</div>
            <div class="col-md-6">	
                <a class="content-inverse-color" href="https://www.binary.com/ja/terms-and-conditions-jp.html"><div class="icon-md-rounded icon-terms icon-center top-50"></div></a>
				<h2 class="title-sm  ft-300 content-inverse-color">アフィリエイトプログラム利用規約</h2>
			</div>
		</div>
	</div>
  </div>  
<div class="primary-bg-color-dark">
	<div class="container-xl section-sm">
		<div class="row">
		    <div class="col">
                <p class="ft-300 center-text content-inverse-color font-s">Risk Warning: Binary Options are risky investments and you can lose all of your funds.</p>
				<p class="center-text content-inverse-color font-s">【商号】Binary株式会社　金融商品取引業者　関東財務局長（金商）第2949号【加入協会】一般社団法人金融先物取引業協会 Copyright (c) 2017 Binary K.K. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</div>
