---
layout: default
title: Join Binary.com - free Binary Options Affiliate Program
excerpt: Join Binary.com free binary options affiliate program. Start earning up to 35% commission through the premier, award-winning platform for binary options trading since 1999. 
keywords: binary.com, free affiliate program, binary options trading, binary options affiliates
language: ru
permalink: /ru/
---
{% include geturl.html %}
{% include lang.html %}
<div class="home--header">
    <div class="container-xl ">
        <div class="row">
            <div class="col center-text">
                <div class="header-content">
                    <h1 class="header-title content-inverse-color">{{ translate.home_header_title }}</h1>
                    <p class="header-subtitle content-inverse-color">{{ translate.home_header_subtitle }}</p>
                    <p><a class="button" href="https://login.binary.com/signup.php"><span class="cta-lg">{{ translate.sign_up_now }}</span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fill-bg-color" id="about">
    <div class="container-xl section-md">
        <div class="row section-sm">
            <div class="col-lg-6">
                <div class="row no-margins">
                    <div class="col-1 nopadding">
                        <div class="mel-checked-icon"></div>
                    </div>
                    <div class="col-11">
                        <p>{{ translate.header_col_1 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-margins">
                    <div class="col-1 nopadding">
                        <div class="mel-checked-icon"></div>
                    </div>
                    <div class="col-11">
                        <p>{{ translate.header_col_2 }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-sm">
            <div class="col-lg-6">
                <div class="row no-margins">
                    <div class="col-1 nopadding">
                        <div class="mel-checked-icon"></div>
                    </div>
                    <div class="col-11">
                        <p>{{ translate.header_col_3 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-margins">
                    <div class="col-1 nopadding">
                        <div class="mel-checked-icon"></div>
                    </div>
                    <div class="col-11">
                        <p>{{ translate.header_col_4 }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col center-text">
                <h2 class="mel-3 ft-300">{{ translate.header_msg }}</h2>
            </div>
        </div>
    </div>
</div>
<div id="commission-plans">
    <div class="container-xl section-md">
        <div class="row">
            <div class="col center-text">
                <h2 class="section-title primary-color">{{ translate.section_commission_plans_title }}</h2>
                <p>{{ translate.section_commission_plans_subtitle }}</p>
            </div>
        </div>
    </div>
    <div class="container-xl">
        <div class="row">
            <div class="col center-text">
                <h2 class="ft-400 content-color">{{ translate.section_commission_plans_table_1_title }}</h2>
                <p>{{ translate.section_commission_plans_table_1_desc }}</p>
            </div>
        </div>
    </div>
    <div class="container title-xxs">
        <div class="row center-text">
            <div class="col-8 secondary-bg-color content-inverse-color right-white-border">
                <p>{{ translate.section_commission_plans_table_1_head_1 }}</p>
            </div>
            <div class="col-4 secondary-bg-color content-inverse-color">
                <p>{{ translate.section_commission_plans_table_1_head_2 }}</p>
            </div>
        </div>
        <div class="row center-text">
            <div class="col-8 fill-bg-color right-white-border">
                <p>$0 - $10,000</p>
            </div>
            <div class="col-4 fill-bg-color">
                <p>20%</p>
            </div>
        </div>
        <div class="row center-text">
            <div class="col-8 dark-grey-bg right-white-border">
                <p>$10,001 - $50,000</p>
            </div>
            <div class="col-4 dark-grey-bg">
                <p>25%</p>
            </div>
        </div>
        <div class="row center-text">
            <div class="col-8 fill-bg-color right-white-border">
                <p>$50,001 - $100,000</p>
            </div>
            <div class="col-4 fill-bg-color">
                <p>30%</p>
            </div>
        </div>
        <div class="row center-text">
            <div class="col-8 dark-grey-bg right-white-border">
                <p>$100,001 +</p>
            </div>
            <div class="col-4 dark-grey-bg">
                <p>35%</p>
            </div>
        </div>
    </div>
    <div class="container-xl top-50">
        <div class="row">
            <div class="col center-text">
                <h2 class="ft-400 content-color">{{ translate.section_commission_plans_table_2_title }}</h2>
                <p>{{ translate.section_commission_plans_table_2_desc }}</p>
            </div>
        </div>
    </div>
    <div class="container-xl ">
        <div class="row center-text">
            <div class="col nopadding padding-sm rTable">
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell secondary-bg-color content-inverse-color">{{ translate.section_commission_plans_table_2_head_1 }}</div>
                            <div class="divTableCell">0 - 19.999%</div>
                            <div class="divTableCell">20 - 39.999%</div>
                            <div class="divTableCell">40 - 59.999%</div>
                            <div class="divTableCell">60 - 79.999%</div>
                            <div class="divTableCell">80 - 94.999%</div>
                            <div class="divTableCell">95% +</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell secondary-bg-color content-inverse-color">{{ translate.section_commission_plans_table_2_head_2 }}</div>
                            <div class="divTableCell dark-grey-bg">1.25%</div>
                            <div class="divTableCell dark-grey-bg">1%</div>
                            <div class="divTableCell dark-grey-bg">0.75%</div>
                            <div class="divTableCell dark-grey-bg">0.5%</div>
                            <div class="divTableCell dark-grey-bg">0.25%</div>
                            <div class="divTableCell dark-grey-bg">0%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl top-50 bottom-50">
        <div class="row">
            <div class="col center-text">
                <h2 class="ft-300">{{ translate.section_commission_plans_msg }}</h2>
                <p><a class="button" href="https://login.binary.com/signup.php"><span class="cta-lg">{{ translate.apply_now }}</span></a></p>
            </div>
        </div>
    </div>
</div>
<div class="primary-bg-color">
    <div class="container-xl section-md" id="why-us">
        <div class="row">
            <div class="col center-text">
                <h2 class="section-title  content-inverse-color">{{ translate.section_why_us_title }}</h2>
            </div>
        </div>
        <div class="row center-text">
            <div class="col-lg-4">
                <div class="hr-padding-lg">
                    <div class="icon icon-value"></div>
                        <div class="secondary-color title-md ft-400">{{ translate.section_why_us_col_1_title }}</div>
                    <div class="mel-bt-border"></div>
                    <p class="content-inverse-color center-text">{{ translate.section_why_us_col_1_desc }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hr-padding-lg">
                    <div class="icon icon-commissions"></div>
                        <div class="secondary-color title-md ft-400">{{ translate.section_why_us_col_2_title }}</div>
                    <div class="mel-bt-border"></div>
                    <p class="content-inverse-color center-text">{{ translate.section_why_us_col_2_desc }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hr-padding-lg">
                    <div class="icon icon-nofees"></div>
                        <div class="secondary-color title-md ft-400">{{ translate.section_why_us_col_3_title }}</div>
                    <div class="mel-bt-border"></div>
                    <p class="content-inverse-color center-text">{{ translate.section_why_us_col_3_desc }}</p>
                </div>
            </div>
        </div>
        <div class="row center-text">
            <div class="col-lg-4">
                <div class="hr-padding-lg">
                    <div class="icon icon-calendar"></div>
                        <div class="secondary-color title-md ft-400">{{ translate.section_why_us_col_4_title }}</div>
                    <div class="mel-bt-border"></div>
                    <p class="content-inverse-color center-text">{{ translate.section_why_us_col_4_desc }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hr-padding-lg">
                    <div class="icon icon-marketing"></div>
                        <div class="secondary-color title-md ft-400">{{ translate.section_why_us_col_5_title }}</div>
                    <div class="mel-bt-border"></div>
                    <p class="content-inverse-color center-text">{{ translate.section_why_us_col_5_desc }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hr-padding-lg">
                    <div class="icon icon-data"></div>
                        <div class="secondary-color title-md ft-400">{{ translate.section_why_us_col_6_title }}</div>
                    <div class="mel-bt-border"></div>
                    <p class="content-inverse-color center-text">{{ translate.section_why_us_col_6_desc }}</p>
                </div>
            </div>
        </div>
        <div class="row center-text">
            <div class="col-lg-4">
                <div class="hr-padding-lg">
                    <div class="icon icon-income"></div>
                        <div class="secondary-color title-md ft-400">{{ translate.section_why_us_col_7_title }}</div>
                    <div class="mel-bt-border"></div>
                    <p class="content-inverse-color center-text">{{ translate.section_why_us_col_7_desc }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hr-padding-lg">
                    <div class="icon icon-platforms"></div>
                        <div class="secondary-color title-md ft-400">{{ translate.section_why_us_col_8_title }}</div>
                    <div class="mel-bt-border"></div>
                    <p class="content-inverse-color center-text">{{ translate.section_why_us_col_8_desc }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hr-padding-lg">
                    <div class="icon icon-support"></div>
                        <div class="secondary-color title-md ft-400">{{ translate.section_why_us_col_9_title }}</div>
                    <div class="mel-bt-border"></div>
                    <p class="content-inverse-color center-text">{{ translate.section_why_us_col_9_desc }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xl section-md" id="awards">
    <div class="row">
        <div class="col center-text">
            <h2 class="section-title  primary-color">{{ translate.section_awards_title }}</h2>
            <p>{{ translate.section_awards_subtitle }}</p>
            <div class="row section-sm">
                <div class="col-md-4">
                    <img src="{{ '/assets/images/image-1.svg' | prepend: SourceUrl  }}" alt="binary.com" class="aw-image">
                </div>
                <div class="col-md-4">
                    <img src="{{ '/assets/images/image-2.svg' | prepend: SourceUrl  }}" alt="binary.com" class="aw-image">
                </div>
                <div class="col-md-4">
                    <img src="{{ '/assets/images/image-3.svg' | prepend: SourceUrl  }}" alt="binary.com" class="aw-image">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col center-text">
            <p><a class="button" href="https://login.binary.com/signup.php"><span class="cta-lg">{{ translate.apply_now }}</span></a></p>
        </div>
    </div>
</div>
<div class="how-programme-woks">
    <div class="container-xl section-md" id="how-programme-woks">
        <div class="row no-margins">
            <div class="col center-text">
                <h2 class="section-title  content-inverse-color">{{ translate.section_how_programme_woks_title }}</h2>
                <div class="row section-sm">
                    <div class="col-md-3">
                        <div class="icon-signup"></div>
                        <h2 class="content-inverse-color ft-400">{{ translate.section_how_programme_woks_col_1_title }}</h2>
                        <p class="content-inverse-color">{{ translate.section_how_programme_woks_col_1_desc }}</p>
                    </div>
                    <div class="col-md-1 center-text">
                        <div class="mel-step-arrow"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon-promote"></div>
                        <h2 class="content-inverse-color ft-400">{{ translate.section_how_programme_woks_col_2_title }}</h2>
                        <p class="content-inverse-color">{{ translate.section_how_programme_woks_col_2_desc }}</p>
                    </div>
                    <div class="col-md-1 center-text">
                        <div class="mel-step-arrow"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon-earn"></div>
                        <h2 class="content-inverse-color ft-400">{{ translate.section_how_programme_woks_col_3_title }}</h2>
                        <p class="content-inverse-color">{{ translate.section_how_programme_woks_col_3_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xl section-md" id="video">
    <div class="row">
        <div class="col center-text">
            <h2 class="section-title  primary-color">{{ translate.section_video_title }}</h2>
            <div class="row section-sm">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/cx_SlgCJZ3U?wmode=transparent&rel=0&autohide=1&showinfo=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <h2 class="mel-3 ft-300">{{ translate.section_video_msg }}</h2>
            <p><a class="button" href="https://login.binary.com/signup.php"><span class="cta-lg">{{ translate.section_video_button }}</span></a></p>
        </div>
    </div>
</div>
<div class="primary-bg-color">
    <div class="container-xl section-md">
        <div class="row">
            <div class="col center-text">
                <p class="content-inverse-color">{{ translate.footer_email_info }} <a class="secondary-color" href="mailto:affiliates@binary.com">affiliates@binary.com</a></p>
                <div class="Social">
                    <ul>
                        <li>
                            <a href="http://www.youtube.com/user/BinaryTradingVideos" target="_blank"><img src="https://www.binary.com/images/pages/footer/youtube.svg" alt="YouTube"></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/106251151552682209951" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Google"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/binarydotcom" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Facebook"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Binarydotcom" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Twitter"></a>
                        </li>
                        <li>
                            <a href="https://t.me/binarydotcom" target="_blank"><img src="https://www.binary.com/images/pages/footer/telegram.svg" alt="Telegram"></a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/r/binarydotcom/" target="_blank"><img src="https://www.binary.com/images/pages/footer/reddit.svg" alt="Reddit"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="content-inverse-color font-s text-justify">{{ translate.footer_legal }}</p>
                <p class="content-inverse-color font-s">{{ translate.footer_play_responsibly }} <a class="footer-legal-link" href="{{ translate.footer_play_responsibly_url }}">{{ translate.footer_play_responsibly_link }}</a></p>
            </div>
        </div>
    </div>
</div>