{% if siteLang == "en" %}
    <a href="https://login.binary.com/signin.php">Log in as an affiliate</a> <a href="https://login.binary.com/signup.php">Sign up as an affiliate</a>
{% elsif siteLang == "de" %}
	<a href="https://login.binary.com/signin.php">Als Mitglied anmelden</a> <a href="https://login.binary.com/signup.php">Registrieren Sie sich als Binary.com Mitglied</a>
{% elsif siteLang == "fr" %}
	<a href="https://login.binary.com/signin.php">Connectez-vous en tant qu'affilié</a> <a href="https://login.binary.com/signup.php">Inscrivez-vous pour devenir affilié Binary.com</a>
{% elsif siteLang == "ru" %}
    <a href="https://login.binary.com/signin.php?lang=1">Войти как партнёр</a> <a href="https://login.binary.com/signup.php?lang=1">Стать партнёром Binary.com</a>
{% elsif siteLang == "es" %}
	<a href="https://login.binary.com/signin.php?lang=8">Iniciar session de Afiliado</a> <a href="https://login.binary.com/signup.php?lang=8">Regustrarse como affiliado</a>
{% elsif siteLang == "pt" %}
	<a href="https://login.binary.com/signin.php?lang=9">Conecte-se como afiliado</a> <a href="https://login.binary.com/signup.php?lang=9">Inscreva-se para se tornar um afiliado da Binary.com</a>
{% elsif siteLang == "id" %}
	<a href="https://login.binary.com/signin.php?lang=4">Masuk sebagai Afiliasi</a> <a href="https://login.binary.com/signup.php?lang=4">Mendaftar menjadi Afiliasi Binary.com</a>
{% elsif siteLang == "it" %}
	<a href="https://login.binary.com/signin.php">Accedi come Affiliato</a> <a href="https://login.binary.com/signup.php">Registrati per essere un Affiliato di Binary.com</a>
{% elsif siteLang == "pl" %}
    <a href="https://login.binary.com/signin.php">Zaloguj się jako partner</a> <a href="https://login.binary.com/signup.php">Zarejestruj się, aby zostać partnerem Binary.com</a>
{% elsif siteLang == "vt" %}
	<a href="https://login.binary.com/signin.php">Đăng nhập như một liên kết</a> <a href="https://login.binary.com/signup.php">Đăng kí để được là liên kết của Binary.com</a>	
{% elsif siteLang == "th" %}
    <a href="https://login.binary.com/signin.php">เข้าสู่ระบบในฐานะพันธมิตร</a> <a href="https://login.binary.com/signup.php">ลงทะเบียนเพื่อเป็นพันธมิตรของ Binary.com</a>
{% elsif siteLang == "zh_cn" %}
    <a href="https://login.binary.com/signin.php?lang=10">联盟会员登录</a> <a href="https://login.binary.com/signup.php?lang=10">注册成为Binary.com联盟会员</a>
{% elsif siteLang == "zh_tw" %}
   <a href="https://login.binary.com/signin.php?lang=10">聯盟會員登入</a> <a href="https://login.binary.com/signup.php?lang=10">註冊成為Binary.com聯盟會員</a>
 {% elsif siteLang == "sc" %}
   <a href="https://login.binary.com/signin.php">Log In as Affiliate</a> <a href="https://login.binary.com/signup.php">Sign Up to be Binary.com Affiliate</a>
{% else %}
	<a href="https://login.binary.com/signin.php">Log In as Affiliate</a> <a href="https://login.binary.com/signup.php">Sign Up to be Binary.com Affiliate</a>
{% endif %}	