{% if siteLang == "en" %}
    <a href="https://login.binary.com/signin.php">Log in as an affiliate</a> <a href="https://login.binary.com/signup.php">Sign up as an affiliate</a> <a href="https://www.binary.com/en/contact.html">Contact Us</a>
{% elsif siteLang == "de" %}
	<a href="https://login.binary.com/signin.php">Als Mitglied anmelden</a> <a href="https://login.binary.com/signup.php">Registrieren Sie sich als Binary.com Mitglied</a> <a href="https://www.binary.com/de/contact.html">Kontaktieren Sie uns</a>
{% elsif siteLang == "fr" %}
	<a href="https://login.binary.com/signin.php">Connectez-vous en tant qu'affilié</a> <a href="https://login.binary.com/signup.php">Inscrivez-vous pour devenir affilié Binary.com</a> <a href="https://www.binary.com/fr/contact.html">Contactez-nous</a>
{% elsif siteLang == "ru" %}
    <a href="https://login.binary.com/signin.php">Войти как партнёр</a> <a href="https://login.binary.com/signup.php">Стать партнёром Binary.com</a> <a href="https://www.binary.com/ru/contact.html">Контакты</a>
{% elsif siteLang == "es" %}
	<a href="https://login.binary.com/signin.php">Iniciar session de Afiliado</a> <a href="https://login.binary.com/signup.php">Regustrarse como affiliado</a> <a href="https://www.binary.com/es/contact.html">Contacto</a>
{% elsif siteLang == "pt" %}
	<a href="https://login.binary.com/signin.php">Conecte-se como afiliado</a> <a href="https://login.binary.com/signup.php">Inscreva-se para se tornar um afiliado da Binary.com</a> <a href="https://www.binary.com/pt/contact.html">Contate-Nos</a>
{% elsif siteLang == "id" %}
	<a href="https://login.binary.com/signin.php">Masuk sebagai Afiliasi</a> <a href="https://login.binary.com/signup.php">Mendaftar menjadi Afiliasi Binary.com</a> <a href="https://www.binary.com/id/contact.html">Hubungi Kami</a>
{% elsif siteLang == "it" %}
	<a href="https://login.binary.com/signin.php">Accedi come Affiliato</a> <a href="https://login.binary.com/signup.php">Registrati per essere un Affiliato di Binary.com</a> <a href="https://www.binary.com/id/contact.html">Contattaci</a>
{% elsif siteLang == "pl" %}
    <a href="https://login.binary.com/signin.php">Zaloguj się jako partner</a> <a href="https://login.binary.com/signup.php">Zarejestruj się, aby zostać partnerem Binary.com</a> <a href="https://www.binary.com/en/contact.html">Kontakt z nami</a>	
{% elsif siteLang == "vt" %}
	<a href="https://login.binary.com/signin.php">Đăng nhập như một liên kết</a> <a href="https://login.binary.com/signup.php">Đăng kí để được là liên kết của Binary.com</a> <a href="https://www.binary.com/es/contact.html">Liên lạc với chúng tôi</a>	
{% elsif siteLang == "th" %}
    <a href="https://login.binary.com/signin.php">เข้าสู่ระบบในฐานะพันธมิตร</a> <a href="https://login.binary.com/signup.php">ลงทะเบียนเพื่อเป็นพันธมิตรของ Binary.com</a> <a href="https://www.binary.com/en/contact.html">ติดต่อเรา</a>
{% elsif siteLang == "zh_cn" %}
    <a href="https://login.binary.com/signin.php">联盟会员登录</a> <a href="https://login.binary.com/signup.php">注册成为Binary.com联盟会员</a> <a href="https://www.binary.com/en/contact.html">联系我们</a>
{% elsif siteLang == "zh_tw" %}
   <a href="https://login.binary.com/signin.php">聯盟會員登入</a> <a href="https://login.binary.com/signup.php">註冊成為Binary.com聯盟會員</a> <a href="https://www.binary.com/en/contact.html">聯繫我們</a>
 {% elsif siteLang == "sc" %}
   <a href="https://login.binary.com/signin.php">Log In as Affiliate</a> <a href="https://login.binary.com/signup.php">Sign Up to be Binary.com Affiliate</a> <a href="https://www.binary.com/en/contact.html">Contact Us</a>  
{% else %}
	<a href="https://login.binary.com/signin.php">Log In as Affiliate</a> <a href="https://login.binary.com/signup.php">Sign Up to be Binary.com Affiliate</a>  <a href="https://www.binary.com/en/contact.html">Contact Us</a>
{% endif %}	