
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">	
<div class="container-fluid ">
		<div class="row">
			<div class="col-lg-3">
				<div class="logo-wrapper-jp">
                    <a class="page-scroll" href="#page-top"><img class="logo-jp" src="{{ '/images/logo-jp-HL.svg' | prepend: SourceUrl  }}" alt="binary.com"></a>
				</div>    
			</div>
            
			<div class="col-lg-9">
                <div class="topnav">
                  <a class="page-scroll" href="#cpa">CPA</a>
                  <a class="page-scroll" href="#why-us">Why us</a>
                  <a class="page-scroll" href="#how-it-works">How it works</a>
                  <a class="page-scroll" href="#application">Application</a>
                  <a class="page-scroll" href="#payments">Payments</a>
                    <a class="button-secondary" href="https://login.binary.com/signin.php"><span>Log in</span></a> 
                    <a class="button" href="https://login.binary.com/signup.php"><span>Sign up</span></a>
                </div>
            </div> 
		</div>
	</div>
</nav>