---
layout: compress
---
<!DOCTYPE html>
{% include lang.html %}
<html lang="{{ siteLang }}">
{% include head.html %}
    {% if siteLang == 'jp' %}
    {% include jp-header.html %}
        <div class="container-xl">
			<div class="row">
				<div class="col">	
					Japan
				</div>
			</div>
		</div>
    {% else %}
    {% include header.html %}	
		<div class="container">
			<div class="row">
				<div class="col-md-8 FBWG">	
					<div class="fb-like" data-href="https://www.facebook.com/binarydotcom" data-width="600" data-layout="standard" data-action="recommend" data-size="large" data-show-faces="false" data-share="false">					
					</div>
				</div>
				<div class="col-md-4">
					{% include snippets/share.html %}
				</div>
			</div>
		</div>
    {% endif %}
   {{ content }}		   
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" defer></script>
	<script src="{{ '/js/code.js' | prepend: site.url }}" defer></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> 
	<script src="{{ '/js/ie10-viewport-bug-workaround.js' | prepend: site.url }}"></script>
	</body>
</html>
