---
layout: compress
---
<!DOCTYPE html>
{% include lang.html %}
{% include geturl.html %}
<html lang="{{ siteLang }}">
    {% include head.html %}
    {% if siteLang == 'ja' %}
    {% include jp-header.html %}
    {% else %}
    {% include header.html %}	
		<div class="container">
			<div class="row">
				<div class="col-md-8 FBWG">	
					<div class="fb-like" data-href="https://www.facebook.com/binarydotcom" data-width="600" data-layout="standard" data-action="recommend" data-size="large" data-show-faces="false" data-share="false">					
					</div>
				</div>
				<div class="col-md-4">
					{% include snippets/share.html %}
				</div>
			</div>
		</div>
    {% endif %}
   {{ content }}		   
	</body>
</html>
