{% if siteLang == "en" %}
    <h2 class="Header__title">Affiliate Program</h2>
{% elsif siteLang == "id" %}
    <h2 class="Header__title">Program Afiliasi</h2>
{% elsif siteLang == "de" %}
    <h2 class="Header__title">Mitgliedsprogramm</h2>
{% elsif siteLang == "fr" %}
    <h2 class="Header__title">Programme d'affiliation</h2>
{% elsif siteLang == "it" %}
    <h2 class="Header__title">Programma di affiliazione</h2>
{% elsif siteLang == "ru" %}
    <h2 class="Header__title">Партнёрская программа</h2>	
{% elsif siteLang == "es" %}
    <h2 class="Header__title">Programa de Afiliado</h2>
{% elsif siteLang == "pt" %}
    <h2 class="Header__title">Programa de afiliados</h2>
{% elsif siteLang == "zh_cn" %}
    <h2 class="Header__title">联盟计划</h2>
{% elsif siteLang == "zh_tw" %}
    <h2 class="Header__title">聯盟計劃</h2>
{% elsif siteLang == "pl" %}
    <h2 class="Header__title">Program partnerski</h2>
{% elsif siteLang == "th" %}
    <h2 class="Header__title">โปรแกรมพันธมิตร</h2>
{% elsif siteLang == "vt" %}
    <h2 class="Header__title">Chương trình liên kết</h2>
{% else %}
	<h2 class="Header__title">Affiliate Program</h2>
{% endif %}	